<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Booking System</title>
</head>
<body>
    <h1>Welcome to wedding booking by salmz</h1>
    <!-- Header -->
    <header>
        <!-- Navigation bar -->
        <nav>
            <!-- Navigation links -->
            <ul>
                <li><a href="{% url 'Booking:about_us' %}">About Us!</a></li>
                <li><a href="{% url 'Booking:create_booking' %}">Create Booking</a></li>
                <li><a href="{% url 'Booking:register' %}">Register an account with us!</a></li>

            </ul>
        </nav>
    </header>

    <!-- Content goes here -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
