<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Booking System</title>
</head>
<body>
    
    <!-- Header -->
    <header>
        <!-- Navigation bar -->
        <nav id="menu" class="nav_bar">
            <a href="base.html" id="logo">
                
            </a>
            <!-- Navigation links -->
            <ul>
                <li><a href="{% url 'Booking:index' %}">Home</a></li>
                <li><a href="{% url 'Booking:about_us' %}">About Us!</a></li>
                <li><a href="{% url 'Booking:create_booking' %}">Create Booking</a></li>
                <!--<li><a href="{% url 'Booking:register' %}">Register</a></li>-->
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>



            </ul>
        </nav>
    </header>

    <!-- Content goes here -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>