
{% extends 'base.html' %}

{% block content %}
    <h1>My Bookings:</h1>

    <ul>
        {% for booking in bookings %}
        <li>
            <strong>Venue:</strong> {{ booking.venue}}<br>
            <strong>Customer Name:</strong> {{ booking.customer_name }}<br>
            <strong>Email:</strong> {{ booking.email}}<br>
            <strong>Booking Date:</strong> {{ booking.booking_date }}<br>
            <strong>Booking Time:</strong> {{ booking.booking_time }}<br>
            <strong>Phone Number:</strong> {{ booking.phone_number }}<br>
            <strong>Theme:</strong> {{ booking.theme}}<br>

            
            <a href="{% url 'Booking:update_booking' booking.pk %}">Update Booking</a>

            
            <a href="{% url 'Booking:delete_booking' booking.pk %}">Delete Booking</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


