<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Booking System</title>
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navigation bar -->
        <nav>
            <!-- Navigation links -->
            <ul>
                <li><a href="about.html"></a>About Us!</li>
                <li><a href="create_booking.html"></a>Click here to create a booking!</li>
                <li><a href="register.html"></a>Register an account with us!</li>

            </ul>
        </nav>
    </header>

    <!-- Content goes here -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
