{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/26caacf38c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Wedding Booking System</title>
</head>
<body>
    
    <!-- Header -->
    <header>
        <!-- Navigation bar -->
        <nav id="menu" class="nav_bar">
            <ul class="fonts">
                <li>
                    <a href="{% url 'Booking:index' %}" class="logo">
                        <h2>WBBS</h2>
                    </a>
                </li>
                <li><a href="{% url 'Booking:index' %}">Home</a></li>
                <li><a href="{% url 'Booking:about_us' %}">About Us!</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'Booking:view_booking' %}">View Bookings</a></li>
                <li><a href="{% url 'Booking:create_booking' %}">Create Booking</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>                              
        </nav>
    </header>
    
                
          
            <!-- Navigation links -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                {% if 'container' in message.tags %}
                    
                    <div class="fade" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                 
                    <div class="fade" role="alert" id="msg2">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
            
                
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            var containers = $('.container');
            
            if (containers.length) {
                containers.show();
                
                setTimeout(function() {
                    containers.fadeOut();
                }, 5000);
            }
        });
    </script>
    
  

    
    {% block content %}
    {% endblock %}

</body>
</html>