{% extends 'base.html' %}

{% block content %}

    <div class="banner">
        <h1>Welcome to Our Wedding Booking Platform</h1>
        <p>Book your dream wedding with us!</p>


        <a href="{% url 'Booking:create_booking' %}" class="btn">Book Now</a>
    </div>
    
    <section class="services">
        <div class="service">
            <h2>Exquisite Venues</h2>
            <p>Choose from a variety of stunning venues for your special day.</p>
        </div>


        <div class="service">
            <h2>Professional Planning</h2>
            <p>Our expert planners will ensure every detail is perfect.</p>
        </div>


        <div class="service">
            <h2>Custom Themes</h2>
            <p>Create a wedding that reflects your unique style and taste.</p>
        </div>
    </section>
    
   
    <div class="venues">

        <img src="https://i.pinimg.com/originals/61/7e/79/617e79acb4346547953dbdec5f1a5fe4.jpg" class="hero-image" alt="Image of a hall in greenford">

        <img src="https://th.bing.com/th/id/OIP.GzHwjWB706KfnJkhXw4QuAAAAA?pid=ImgDet&rs=1" class="hounslow_hall" alt="Image of a hall in hounslow">

        <img src="https://th.bing.com/th/id/OIP.2gMm1iIxcx8fLC6CVFTdhQHaE7?pid=ImgDet&w=180&h=180&c=7&dpr=1.3" class="slough_hall" alt="Image of hall in Slough">
        
    </div>
       
   
<footer class="footer">

  
    <div class="footer-social">
        <h3>Follow Us</h3>
        <a href="https://www.snapchat.com/"><i class="fa-brands fa-square-snapchat"></i></a>
        <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.twitter.com"><i class="fa-brands fa-square-twitter"></i></a>
    </div>
    <div class="footer-bottom">
     <p>&copy; 2023 Wedding Bookingz By Salmz All Rights Reserved.</p>
    </div>
        

</footer>
    
{% endblock %}